# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole site, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.github_repo }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: CIEM42X0
tagline: CIEM42X0 Probabilistic Design
description: Hydraulic and Offshore Structures track, Civil Engineering Program at TU Delft.
author: Robert Lanzafame
baseurl: '/HOS-prob-design-23' # the subpath of your site, e.g. /blog
url: 'https://tudelft-citg.github.io' # the base hostname & protocol for your site, e.g. http://example.com
exclude: ["Gemfile", "Gemfile.lock", "LICENSE", "README.md"]

# Back to top link
back_to_top: true
back_to_top_text: "Back to top"

# Theme settings
remote_theme: just-the-docs/just-the-docs@v0.5.0
color_scheme: light
search_enabled: true
heading_anchors: true
permalink: pretty
aux_links:
  CIEM4210:
    - 'https://brightspace.tudelft.nl/d2l/home/520138'
  CIEM4220:
    - 'https://brightspace.tudelft.nl/d2l/home/520140'
  CIEM4230:
    - 'https://brightspace.tudelft.nl/d2l/home/520142'
  HOS book:
    - 'https://tudelft-citg.github.io/HOS-prob-design/intro.html'
  ADK book:
    - 'https://www-cambridge-org.tudelft.idm.oclc.org/highereducation/books/structural-and-system-reliability/7B7F299239AD41812A0C3E2E93B3CA57#overview'
aux_links_new_tab: true
footer_content: 'Robert Lanzafame &copy; 2023 <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>'

# Collections for website data
collections:
  staffers:
  modules:
  announcements:
# Default layouts for each collection type
defaults:
  - scope:
      path: ''
      type: staffers
    values:
      layout: staffer
      height: 300
      subpath: '/assets/images/'
      width: 300
  - scope:
      path: ''
      type: modules
    values:
      layout: module
  - scope:
      path: ''
      type: announcements
    values:
      layout: announcement

compress_html:
  clippings: all
  comments: all
  endings: all
  startings: []
  blanklines: false
  profile: false
